@font-face {
  font-family: "Impostor";
  src: url("./fonts/The Impostor.ttf");
}

html,
body {
  height: 100%;
  background-color: #191716;
  color: #929982;
  font-family: "Impostor", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
}

.header-container {
  display: block;
  background-color: #929982;
  background-image: linear-gradient(to bottom, #929982, #8e5572);
  background: -webkit-linear-gradient(135deg, #929982, #8e5572 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-title {
  font-size: 32px;
  margin: 5px;
  cursor: default;
}

.header-subtext {
  font-size: 12px;
  margin: 0;
}

.header-subtext__upper {
  text-align: left;
  color: #929982;
}

.header-subtext__lower {
  text-align: right;
  color: #8e5572;
}

.header-link {
  text-decoration: none;
}

@media (min-width: 900px) {
  .header-title {
    font-size: 96px;
  }
  .header-subtext {
    font-size: 24px;
  }
}